{:lein   true

 :nrepl {:port 8777}

 :builds {:app {:target          :browser
                :output-dir      "resources/public/js/compiled"
                :asset-path      "/js/compiled"
                :modules         {:app {:init-fn {{name}}.core/init
                                        :preloads [devtools.preload{{#10x?}}
                                                   day8.re-frame-10x.preload{{/10x?}}{{#re-frisk?}}
                                                   re-frisk.preload{{/re-frisk?}}]}}{{#10x?}}
                :dev             {:compiler-options {:closure-defines {re-frame.trace.trace-enabled?        true
                                                                       day8.re-frame.tracing.trace-enabled? true}}}{{/10x?}}
                :devtools        {:http-root    "resources/public"
                                  :http-port    8280{{#handler?}}
                                  :http-handler {{name}}.handler/dev-handler{{/handler?}}
                                  }}{{#test?}}

          :browser-test
          {:target :browser-test
           :ns-regexp "-test$"
           :runner-ns shadow.test.browser
           :test-dir "target/browser-test"
           :devtools {:http-root "target/browser-test"
                      :http-port 8290}}

          :karma-test
          {:target :karma
           :ns-regexp "-test$"
           :output-to "target/karma-test.js"}{{/test?}}}}
